# [Introduction to Pandas DataFrames](#)

Pandas DataFrames are one of the most powerful and widely used data structures in the Pandas library. They provide a convenient way to store, manipulate, and analyze structured data in a tabular format. In this section, we will explore what DataFrames are, compare them with Series and NumPy arrays, and discuss the key features and benefits of using DataFrames.

A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. You can think of it as a spreadsheet or a SQL table, where data is organized in rows and columns. Each column in a DataFrame is a Pandas Series, which means that a DataFrame can be thought of as a collection of Series objects that share the same index.

Here are some key characteristics of DataFrames:

- **Labeled Axes**: DataFrames have labeled axes (rows and columns), which provide meaningful names to access and manipulate data.
- **Heterogeneous Data**: DataFrames can hold data of different types (e.g., numeric, string, boolean) in different columns, making them suitable for storing and working with diverse datasets.
- **Size Mutability**: DataFrames are mutable in size, allowing you to add or remove rows and columns as needed.
- **Alignment**: DataFrames automatically align data based on labels during operations, ensuring that data is correctly matched and computed.


Let's compare DataFrames with Pandas Series and NumPy arrays to understand their similarities and differences:

**DataFrame vs. Series:**
- A Series is a one-dimensional labeled array that can hold data of any type. In contrast, a DataFrame is a two-dimensional labeled data structure that consists of multiple Series.
- While a Series represents a single column of data, a DataFrame can have multiple columns, each represented by a Series.
- DataFrames provide additional functionality for working with tabular data, such as accessing and manipulating data by column labels, merging and joining data, and applying operations across multiple columns.

**DataFrame vs. NumPy Array:**

- NumPy arrays are homogeneous, meaning they can only hold elements of the same data type. In contrast, DataFrames can have columns with different data types.
- NumPy arrays are primarily used for numerical computations and have a fixed size. DataFrames, on the other hand, are designed for data manipulation and analysis and have a mutable size.
- DataFrames provide labeled axes (rows and columns) and support a wide range of data manipulation operations, such as filtering, grouping, and merging, which are not available in NumPy arrays.

By leveraging the capabilities of DataFrames, you can efficiently store, manipulate, and analyze structured data, making them an essential tool in the data scientist's toolkit.

In the following sections, we will dive deeper into creating DataFrames, exploring their attributes and methods, performing data alignment and arithmetic operations, and customizing the console display of DataFrames.

## <a id='toc1_'></a>[Creating DataFrames](#toc0_)

Pandas DataFrames can be created from various data sources and input formats. In this section, we will explore different ways to create DataFrames, including from dictionaries, NumPy arrays, structured arrays, lists, tuples, and more.

### <a id='toc1_1_'></a>[From dict of Series or dicts](#toc0_)

One of the most common ways to create a DataFrame is from a dictionary of Series or dictionaries. The keys of the dictionary will become the column names, and the values will be the data for each column. If no index is specified, the union of the indexes of the Series will be used as the DataFrame's index.

In [1]:
import pandas as pd

In [2]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}

pd.DataFrame(d)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

The resulting DataFrame will have columns "one" and "two", with the corresponding data from the Series. The index will be the union of the indexes of the Series.

You can also specify a custom index and column order when creating the DataFrame:

In [3]:
pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

### <a id='toc1_2_'></a>[From dict of ndarrays / lists](#toc0_)

You can create a DataFrame from a dictionary of NumPy arrays or lists. The arrays or lists must all be the same length. If an index is passed, it must also be the same length as the data.

In [4]:
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}

pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

If no index is passed, the DataFrame's index will be a range index starting from 0.

### <a id='toc1_3_'></a>[From structured or record array](#toc0_)

DataFrames can be created from structured or record arrays, which are NumPy arrays with compound data types. The DataFrame will have columns corresponding to the fields of the structured array.

In [5]:
import numpy as np

In [6]:
data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])
data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]

pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

You can also specify custom index and column names when creating the DataFrame from a structured array.

### <a id='toc1_4_'></a>[From a list of dicts](#toc0_)

A DataFrame can be created from a list of dictionaries, where each dictionary represents a row in the DataFrame. The keys of the dictionaries will become the column names.

In [7]:
data = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

pd.DataFrame(data)

   a   b     c
0  1   2   NaN
1  5  10  20.0

If some dictionaries have missing keys, the corresponding values in the DataFrame will be marked as missing (NaN).

### <a id='toc1_5_'></a>[From a dict of tuples](#toc0_)

You can create a MultiIndexed DataFrame by passing a dictionary of tuples. The outer keys of the dictionary will become the column levels, and the inner tuples will become the row index levels.

In [8]:
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

You will learn about multi-level indexing in DataFrames in upcoming lectures.

### <a id='toc1_6_'></a>[From a Series](#toc0_)

A DataFrame can be created from a single Series, where the Series becomes a column in the DataFrame. The name of the Series will be used as the column name if no other name is provided.

In [9]:
ser = pd.Series(range(3), index=list("abc"), name="ser")

pd.DataFrame(ser)

   ser
a    0
b    1
c    2

### <a id='toc1_7_'></a>[From a list of namedtuples](#toc0_)

DataFrames can be created from a list of namedtuples. The field names of the first namedtuple in the list determine the column names of the DataFrame. The values from the remaining namedtuples are used to populate the rows of the DataFrame.

In [10]:
from collections import namedtuple

Point = namedtuple("Point", "x y")

pd.DataFrame([Point(0, 0), Point(0, 3), (2, 3)])

   x  y
0  0  0
1  0  3
2  2  3

If any of the tuples is shorter than the first namedtuple, the corresponding values in the DataFrame will be marked as missing. If any tuples are longer, a `ValueError` will be raised.

### <a id='toc1_8_'></a>[From a list of dataclasses](#toc0_)

Starting from Python 3.7, DataFrames can be created from a list of dataclasses (introduced in PEP 557). Passing a list of dataclasses is equivalent to passing a list of dictionaries.

In [11]:
from dataclasses import make_dataclass

Point = make_dataclass("Point", [("x", int), ("y", int)])

pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])

   x  y
0  0  0
1  0  3
2  2  3

All values in the list should be dataclasses of the same type, otherwise a `TypeError` will be raised.

### <a id='toc1_9_'></a>[Alternate constructors](#toc0_)

Pandas provides several alternate constructors for creating DataFrames from specific data formats:

- `DataFrame.from_dict()` creates a DataFrame from a dictionary of dictionaries or a dictionary of array-like sequences. It operates like the DataFrame constructor, but allows specifying the orientation of the data using the `orient` parameter.

In [12]:
# Creating a DataFrame from a dictionary of lists
data = {"A": [1, 2, 3], "B": [4, 5, 6]}
df = pd.DataFrame.from_dict(data)
df

   A  B
0  1  4
1  2  5
2  3  6

You can also specify the `orient` parameter to use the keys of the dictionary as row labels:

In [13]:
df = pd.DataFrame.from_dict(data, orient="index", columns=["one", "two", "three"])
df

   one  two  three
A    1    2      3
B    4    5      6

- `DataFrame.from_records()` creates a DataFrame from a list of tuples or a structured NumPy array. It works similarly to the DataFrame constructor, but allows specifying the index of the resulting DataFrame using a specific field of the structured dtype.

In [14]:
# Creating a DataFrame from a list of tuples
data = [(1, 2.0, "Hello"), (2, 3.0, "World")]
df = pd.DataFrame.from_records(data, columns=["A", "B", "C"])
df

   A    B      C
0  1  2.0  Hello
1  2  3.0  World

You can also create a DataFrame from a structured NumPy array and specify the index using a specific field:

In [15]:
import numpy as np

In [16]:
data = np.array([(1, 2.0, "Hello"), (2, 3.0, "World")],
                dtype=[("A", "i4"), ("B", "f4"), ("C", "U10")])
df = pd.DataFrame.from_records(data, index="C")
df

       A    B
C
Hello  1  2.0
World  2  3.0

These alternate constructors provide convenient ways to create DataFrames from specific data formats and structures. They offer flexibility in specifying the orientation of the data, the column names, and the index of the resulting DataFrame.

By using these alternate constructors, you can easily create DataFrames from dictionaries, lists of tuples, structured arrays, and more, depending on the structure and format of your input data.

By leveraging these various methods and data sources, you can create DataFrames tailored to your specific needs and data structures. Pandas provides flexibility and convenience in creating DataFrames, making it easy to work with structured data in a tabular format.

## <a id='toc2_'></a>[DataFrame Attributes and Methods](#toc0_)

Pandas DataFrames provide a wide range of attributes and methods to access and manipulate data efficiently. In this section, we will explore some of the commonly used attributes and methods of DataFrames.

<img src="../images/dataframe-properties.png" width="800">

### <a id='toc2_1_'></a>[Attributes](#toc0_)

The `shape` attribute returns a tuple representing the dimensions of the DataFrame. It contains the number of rows and columns in the DataFrame.

In [17]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6], "C": [7, 8, 9]})
df.shape

(3, 3)

The `columns` attribute returns an Index object containing the column labels of the DataFrame.

In [18]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

The `index` attribute returns an Index object representing the row labels of the DataFrame.

In [19]:
df.index

RangeIndex(start=0, stop=3, step=1)

The `dtypes` attribute returns a Series containing the data types of each column in the DataFrame.

In [20]:
df.dtypes

A    int64
B    int64
C    int64
dtype: object

The `values` attribute returns a NumPy array representing the underlying data of the DataFrame.

In [21]:
df.values

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

### <a id='toc2_2_'></a>[Methods](#toc0_)

The `info()` method provides a concise summary of the DataFrame, including the column names, non-null counts, and data types.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

The `describe()` method generates descriptive statistics of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values for numeric columns.

In [23]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

The `head()` method returns the first `n` rows of the DataFrame, while the `tail()` method returns the last `n` rows. By default, `n` is 5.

In [24]:
df.head()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [25]:
df.head(2)

   A  B  C
0  1  4  7
1  2  5  8

In [26]:
df.tail()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [27]:
df.tail(3)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

The `sort_values()` method sorts the DataFrame by the values of one or more columns.

In [28]:
df.sort_values(by='B') # Sort by a single column

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [29]:
df.sort_values(by='B', ascending=False) # Sort by a single column

   A  B  C
2  3  6  9
1  2  5  8
0  1  4  7

In [30]:
df.sort_values(by=['A', 'B']) # Sort by multiple columns

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

The `sort_index()` method sorts the DataFrame by its index labels.

In [31]:
df.sort_index() # Sort by index

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [32]:
df.sort_index(ascending=False)

   A  B  C
2  3  6  9
1  2  5  8
0  1  4  7

The `transpose()` method transposes the DataFrame, i.e., swaps the rows and columns.

In [33]:
df.transpose()

   0  1  2
A  1  2  3
B  4  5  6
C  7  8  9

In [34]:
df.T

   0  1  2
A  1  2  3
B  4  5  6
C  7  8  9

These are just a few examples of the attributes and methods available in Pandas DataFrames. DataFrames provide a rich set of functionalities for data manipulation, analysis, and visualization. By leveraging these attributes and methods, you can efficiently work with structured data and perform various data operations.

It's important to refer to the official Pandas documentation for a comprehensive list of all available attributes and methods, as well as their detailed descriptions and examples.

## <a id='toc3_'></a>[Data Alignment and Arithmetic](#toc0_)

Pandas DataFrames provide powerful capabilities for performing arithmetic operations and aligning data based on row and column labels. In this section, we will explore how to perform arithmetic operations between DataFrames, between DataFrames and Series, and discuss flexible arithmetic methods and operations.

### <a id='toc3_1_'></a>[Arithmetic Operations between DataFrames](#toc0_)

When performing arithmetic operations between two DataFrames, Pandas automatically aligns the data based on both the row and column labels. The resulting DataFrame will have the union of the row and column labels from the input DataFrames.

In [35]:
df1 = pd.DataFrame(np.random.randn(5, 3), columns=["A", "B", "C"])
df2 = pd.DataFrame(np.random.randn(4, 3), columns=["B", "C", "D"])

df1 + df2

    A         B         C   D
0 NaN -0.516117 -3.555707 NaN
1 NaN -0.732116  0.341500 NaN
2 NaN  1.781855 -0.819745 NaN
3 NaN -0.898415  0.697043 NaN
4 NaN       NaN       NaN NaN

In this example, `df1` and `df2` have different sets of row and column labels. When adding these DataFrames, Pandas aligns the data based on the common labels and fills any missing values with `NaN` (Not a Number).

The resulting DataFrame, `result`, will have the union of the row and column labels from `df1` and `df2`. Columns or rows that are not present in both DataFrames will have missing values.

### <a id='toc3_2_'></a>[Arithmetic Operations between DataFrames and Series](#toc0_)

When performing arithmetic operations between a DataFrame and a Series, Pandas follows a broadcasting rule. By default, the Series is aligned along the DataFrame's columns (axis=1), and the operation is performed row-wise.

In [36]:
df = pd.DataFrame(np.random.randn(5, 3), columns=["A", "B", "C"])
series = pd.Series(np.random.randn(3), index=["A", "B", "C"])

df - series

          A         B         C
0 -0.517847 -0.268460 -0.320167
1  0.425271 -1.919499  0.021911
2 -0.991362 -0.814580 -0.689798
3  1.314853 -0.536530 -0.589282
4  1.058373 -1.144424  0.139930

In this example, the Series `series` is subtracted from each row of the DataFrame `df`. The Series is aligned based on the column labels of the DataFrame, and the subtraction is performed element-wise.

If you want to align the Series along the DataFrame's rows (`axis=0`) instead, you can use the `axis` parameter:

In [37]:
df.sub(series, axis=0)

    A   B   C
0 NaN NaN NaN
1 NaN NaN NaN
2 NaN NaN NaN
3 NaN NaN NaN
4 NaN NaN NaN
A NaN NaN NaN
B NaN NaN NaN
C NaN NaN NaN

Pandas also supports arithmetic operations with scalars, which operate element-wise on the DataFrame:

In [38]:
df * 2 + 1

          A         B         C
0  0.542574  0.661481 -0.132151
1  2.428809 -2.640596  0.552006
2 -0.404457 -0.430758 -0.871414
3  4.207974  0.125342 -0.670381
4  3.695013 -1.090447  0.788043

In this case, each element of the DataFrame `df` is multiplied by 2 and then added to 1.

Boolean operations between DataFrames also operate element-wise:

In [39]:
df1 = pd.DataFrame({"A": [True, False, True], "B": [False, True, True]})
df2 = pd.DataFrame({"A": [False, True, True], "B": [True, True, False]})

df1 & df2

       A      B
0  False  False
1  False   True
2   True  False

The resulting DataFrame `result` contains the element-wise logical AND operation between `df1` and `df2`.

### <a id='toc3_3_'></a>[Flexible Arithmetic Methods](#toc0_)

Pandas provides flexible arithmetic methods that allow you to specify the fill value for missing data and the axis along which the operation should be performed. These methods include `add()`, `sub()`, `mul()`, `div()`, and more.

In [40]:
df1 = pd.DataFrame({"A": [1, None, 3], "B": [4, 5, 6], "C": [7, 8, 9]})
series = pd.Series([10, 20, 30], index=["A", "B", "C"])

In [41]:
df1

     A  B  C
0  1.0  4  7
1  NaN  5  8
2  3.0  6  9

In [42]:
series

A    10
B    20
C    30
dtype: int64

In [43]:
df1.add(series)

      A   B   C
0  11.0  24  37
1   NaN  25  38
2  13.0  26  39

In [44]:
df1.add(series, axis=1)

      A   B   C
0  11.0  24  37
1   NaN  25  38
2  13.0  26  39

In [45]:
df1.add(series, axis=0)

    A   B   C
0 NaN NaN NaN
1 NaN NaN NaN
2 NaN NaN NaN
A NaN NaN NaN
B NaN NaN NaN
C NaN NaN NaN

In this example, the `add()` method is used to add `df1` and `df2`. The `fill_value` parameter specifies the value to use for missing data. Here, missing values are filled with 0 before the addition operation.

## <a id='toc4_'></a>[Console Display](#toc0_)

When working with Pandas DataFrames, it's often useful to display the data in the console for quick inspection and analysis. Pandas provides several options to control how DataFrames are displayed in the console, allowing you to customize the output to suit your needs.

### <a id='toc4_1_'></a>[Displaying the DataFrame in the Console](#toc0_)

To display a DataFrame in the console, you can simply print the DataFrame object or call the `head()` or `tail()` methods to display a subset of rows.

In [46]:
df = pd.DataFrame(np.random.randn(5, 3), columns=["A", "B", "C"])
df

          A         B         C
0  0.566882 -0.455156  0.832734
1 -1.822613  0.275640 -1.655380
2 -0.642408  1.162093 -1.016402
3 -1.093301 -2.016529  0.410612
4  0.391603  0.488278  0.090748

By default, Pandas displays a concise summary of the DataFrame, including the column labels, row labels (index), and the data values.

### <a id='toc4_2_'></a>[Customizing the Display Settings](#toc0_)

Pandas provides several options to customize the display settings of DataFrames in the console. These options can be set using the `pandas.set_option()` function.

- `display.min_rows`: Sets the minimum number of rows to display. If the DataFrame has fewer rows, Pandas will display all rows without truncation.
- `display.max_rows`: Sets the maximum number of rows to display. If the DataFrame has more rows, Pandas will truncate the output and display an ellipsis (`...`) to indicate that there are additional rows.
- `display.max_columns`: Sets the maximum number of columns to display. If the DataFrame has more columns, Pandas will truncate the output and display an ellipsis (`...`) to indicate that there are additional columns.
- `display.precision`: Sets the number of decimal places to display for floating-point values.

In [47]:
df = pd.DataFrame(np.random.randn(1000, 1000))

In [48]:
df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.261829,0.121397,-0.014858,-0.282273,-0.387976,1.329541,-0.169921,-0.202516,0.543947,1.281177,...,0.470570,-0.758573,2.290288,1.415689,1.091973,0.054957,0.814572,2.390118,-0.152601,0.172431
1,-0.308794,-0.754171,-0.419604,0.690812,-0.337735,-2.516283,0.499109,0.176806,-0.377385,-1.500410,...,0.878540,-0.589055,0.318158,-1.391960,0.161062,0.184824,0.275629,0.571954,0.453042,1.120595
2,0.898719,-0.824676,0.564283,1.655451,0.457569,0.894771,0.938429,1.133785,-0.175027,0.681855,...,0.141735,1.132097,0.444446,-2.838304,-0.897692,-0.616038,-0.324936,1.023338,-1.438685,-1.023833
3,2.247432,0.425762,0.744063,0.266772,0.871164,1.493923,0.288867,-1.974916,-0.561263,1.000828,...,-0.614136,-1.076356,-1.235663,-1.837076,-0.441467,0.301980,0.325555,1.454381,0.742454,-1.117714
4,-1.008836,1.630438,0.988493,0.031462,-1.924797,-0.619712,1.124244,0.464199,-1.129494,0.442151,...,-0.014184,-0.094851,-0.053786,1.376018,1.713751,-1.006765,-1.999673,-0.625164,0.562104,-0.220350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.514816,0.263791,0.125875,-0.421843,-1.433352,2.138567,-0.784736,0.414093,1.777455,1.756946,...,-0.351796,-1.684557,-0.144202,-0.470774,0.532330,-1.051237,-0.864348,-0.369886,-0.173349,0.416309
996,0.176563,-0.144496,0.042382,0.422029,0.965583,-0.596335,-1.685576,-1.320588,-0.196948,0.848067,...,-0.811620,2.039114,0.556067,-0.034373,0.303915,-0.646391,0.573129,-1.307210,-0.568296,1.325892
997,-0.829495,1.616258,0.587802,-0.198286,-0.985479,-0.675198,-0.409900,-0.680290,0.728815,-0.013731,...,-1.628866,-0.189867,0.151860,-1.569751,0.757614,-0.312296,0.873136,-1.541451,-0.751260,0.800699
998,0.345090,0.617853,1.387058,-1.004344,1.322831,-1.012614,-0.538390,-0.028872,-1.165726,0.736100,...,-0.660066,-0.822374,1.094291,1.910347,2.366852,-3.117041,0.504132,1.249089,0.625157,-0.956436
999,-1.827514,-1.823311,0.717790,0.425390,-0.128856,0.882887,-0.034786,1.721195,-0.343018,-0.276721,...,-0.054256,1.081065,-1.733163,0.500509,0.408742,-0.142642,-2.068976,0.856044,0.978350,1.330418

In [49]:
pd.set_option("display.min_rows", 20)
pd.set_option("display.max_rows", 40)

In [50]:
df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.261829,0.121397,-0.014858,-0.282273,-0.387976,1.329541,-0.169921,-0.202516,0.543947,1.281177,...,0.470570,-0.758573,2.290288,1.415689,1.091973,0.054957,0.814572,2.390118,-0.152601,0.172431
1,-0.308794,-0.754171,-0.419604,0.690812,-0.337735,-2.516283,0.499109,0.176806,-0.377385,-1.500410,...,0.878540,-0.589055,0.318158,-1.391960,0.161062,0.184824,0.275629,0.571954,0.453042,1.120595
2,0.898719,-0.824676,0.564283,1.655451,0.457569,0.894771,0.938429,1.133785,-0.175027,0.681855,...,0.141735,1.132097,0.444446,-2.838304,-0.897692,-0.616038,-0.324936,1.023338,-1.438685,-1.023833
3,2.247432,0.425762,0.744063,0.266772,0.871164,1.493923,0.288867,-1.974916,-0.561263,1.000828,...,-0.614136,-1.076356,-1.235663,-1.837076,-0.441467,0.301980,0.325555,1.454381,0.742454,-1.117714
4,-1.008836,1.630438,0.988493,0.031462,-1.924797,-0.619712,1.124244,0.464199,-1.129494,0.442151,...,-0.014184,-0.094851,-0.053786,1.376018,1.713751,-1.006765,-1.999673,-0.625164,0.562104,-0.220350
5,2.027563,-1.859488,0.014843,0.258889,-0.284966,-1.054313,-0.212180,1.373853,-0.059918,-1.310794,...,0.458072,0.494257,-3.439088,0.862821,-0.599703,0.979054,-1.655495,-0.501288,-0.192603,-0.923444
6,1.618330,-0.297658,-0.604796,1.218369,0.888606,-0.441145,0.431143,-1.358765,-0.332757,1.389370,...,1.203616,0.917611,0.466470,0.202199,0.184914,-1.115000,0.704142,0.025616,-0.737934,-2.243197
7,-1.046264,-1.509923,-1.040846,-0.929561,0.911480,0.023567,-0.717528,1.091563,0.947717,1.276613,...,1.336525,0.282676,-1.468958,1.493181,0.756018,-1.918589,-0.955301,0.305697,-0.230812,-0.092264
8,-1.972517,1.089338,-0.895711,-2.011351,0.651670,0.127580,0.586707,-0.786948,1.291776,1.553695,...,0.917339,-1.041461,1.185829,0.547997,0.841210,-0.795768,-0.018232,-0.290176,0.834634,0.056047
9,0.217345,-0.841484,0.185812,1.240447,1.393514,1.210765,0.159822,1.694887,1.132469,0.440795,...,0.846814,-0.213300,0.906146,0.242796,1.745867,-1.178244,-0.425407,0.161582,-2.038589,-0.567369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,0.006368,-0.214879,1.761859,1.414460,0.498082,1.342082,0.463622,-0.041031,-1.229533,0.225478,...,-0.675454,-1.633742,-0.030454,-0.755112,0.094116,0.960407,1.437186,0.790706,0.244784,-1.399425
991,1.501556,-0.639057,-0.433382,0.651036,0.007405,0.127012,1.223725,0.027950,-0.406882,-0.266589,...,0.333770,-1.982641,-0.811343,0.923396,0.067649,-0.037231,-2.276402,1.621808,0.550017,-0.143676
992,1.175692,-1.685615,-2.043852,-0.743262,0.330216,-0.667229,0.255278,1.556920,0.356284,0.191348,...,-0.871648,-0.620471,-0.544434,-1.508631,0.965340,1.533434,-0.391677,-0.630769,0.599082,1.660769
993,-0.027691,1.103448,-0.488466,-0.519411,0.536607,-2.499268,2.905430,-0.352202,-1.504330,-0.666195,...,-0.096323,-1.517582,0.213388,-1.065099,0.693237,0.028687,0.718115,-0.355601,-0.222967,-1.843376
994,0.195810,0.678090,-0.963552,-0.164364,-1.619454,-0.071498,0.843808,0.066134,0.748456,0.489189,...,-1.010566,-0.348971,-0.366204,2.197932,0.258581,-0.289033,1.301171,-0.867869,-1.047722,-0.774571
995,0.514816,0.263791,0.125875,-0.421843,-1.433352,2.138567,-0.784736,0.414093,1.777455,1.756946,...,-0.351796,-1.684557,-0.144202,-0.470774,0.532330,-1.051237,-0.864348,-0.369886,-0.173349,0.416309
996,0.176563,-0.144496,0.042382,0.422029,0.965583,-0.596335,-1.685576,-1.320588,-0.196948,0.848067,...,-0.811620,2.039114,0.556067,-0.034373,0.303915,-0.646391,0.573129,-1.307210,-0.568296,1.325892
997,-0.829495,1.616258,0.587802,-0.198286,-0.985479,-0.675198,-0.409900,-0.680290,0.728815,-0.013731,...,-1.628866,-0.189867,0.151860,-1.569751,0.757614,-0.312296,0.873136,-1.541451,-0.751260,0.800699
998,0.345090,0.617853,1.387058,-1.004344,1.322831,-1.012614,-0.538390,-0.028872,-1.165726,0.736100,...,-0.660066,-0.822374,1.094291,1.910347,2.366852,-3.117041,0.504132,1.249089,0.625157,-0.956436
999,-1.827514,-1.823311,0.717790,0.425390,-0.128856,0.882887,-0.034786,1.721195,-0.343018,-0.276721,...,-0.054256,1.081065,-1.733163,0.500509,0.408742,-0.142642,-2.068976,0.856044,0.978350,1.330418

In [51]:
df.head(35)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.261829,0.121397,-0.014858,-0.282273,-0.387976,1.329541,-0.169921,-0.202516,0.543947,1.281177,...,0.470570,-0.758573,2.290288,1.415689,1.091973,0.054957,0.814572,2.390118,-0.152601,0.172431
1,-0.308794,-0.754171,-0.419604,0.690812,-0.337735,-2.516283,0.499109,0.176806,-0.377385,-1.500410,...,0.878540,-0.589055,0.318158,-1.391960,0.161062,0.184824,0.275629,0.571954,0.453042,1.120595
2,0.898719,-0.824676,0.564283,1.655451,0.457569,0.894771,0.938429,1.133785,-0.175027,0.681855,...,0.141735,1.132097,0.444446,-2.838304,-0.897692,-0.616038,-0.324936,1.023338,-1.438685,-1.023833
3,2.247432,0.425762,0.744063,0.266772,0.871164,1.493923,0.288867,-1.974916,-0.561263,1.000828,...,-0.614136,-1.076356,-1.235663,-1.837076,-0.441467,0.301980,0.325555,1.454381,0.742454,-1.117714
4,-1.008836,1.630438,0.988493,0.031462,-1.924797,-0.619712,1.124244,0.464199,-1.129494,0.442151,...,-0.014184,-0.094851,-0.053786,1.376018,1.713751,-1.006765,-1.999673,-0.625164,0.562104,-0.220350
5,2.027563,-1.859488,0.014843,0.258889,-0.284966,-1.054313,-0.212180,1.373853,-0.059918,-1.310794,...,0.458072,0.494257,-3.439088,0.862821,-0.599703,0.979054,-1.655495,-0.501288,-0.192603,-0.923444
6,1.618330,-0.297658,-0.604796,1.218369,0.888606,-0.441145,0.431143,-1.358765,-0.332757,1.389370,...,1.203616,0.917611,0.466470,0.202199,0.184914,-1.115000,0.704142,0.025616,-0.737934,-2.243197
7,-1.046264,-1.509923,-1.040846,-0.929561,0.911480,0.023567,-0.717528,1.091563,0.947717,1.276613,...,1.336525,0.282676,-1.468958,1.493181,0.756018,-1.918589,-0.955301,0.305697,-0.230812,-0.092264
8,-1.972517,1.089338,-0.895711,-2.011351,0.651670,0.127580,0.586707,-0.786948,1.291776,1.553695,...,0.917339,-1.041461,1.185829,0.547997,0.841210,-0.795768,-0.018232,-0.290176,0.834634,0.056047
9,0.217345,-0.841484,0.185812,1.240447,1.393514,1.210765,0.159822,1.694887,1.132469,0.440795,...,0.846814,-0.213300,0.906146,0.242796,1.745867,-1.178244,-0.425407,0.161582,-2.038589,-0.567369
10,-1.673175,-2.563490,1.767042,-2.498815,0.586382,0.117906,-0.177762,-0.274797,-0.007786,0.193149,...,0.057725,-0.780824,1.515663,-1.077353,-0.589643,1.754200,-1.085702,-1.097051,-0.182199,-0.573725
11,-0.369150,0.566132,0.948485,-1.635983,-0.073938,0.243535,-0.214655,-1.040475,-0.186767,-0.909902,...,-1.066110,0.097616,0.020330,1.350009,-0.038570,-0.807495,-0.615486,0.054239,1.080470,-0.007377
12,0.225902,-0.721349,0.451531,0.348159,0.182413,1.439482,-0.069328,1.055560,0.513784,0.469638,...,1.062137,-1.368782,0.463873,-1.109477,-0.349715,-0.615593,0.275104,-0.456959,-1.614102,-1.019371
13,1.406865,-2.003390,1.693652,1.025384,0.827619,-0.469767,0.054768,1.778699,0.465169,-0.551213,...,1.248432,-1.342860,-0.312687,0.977819,-0.603988,0.423736,1.035804,-1.843923,-0.872108,0.492912
14,0.710062,0.586616,0.421389,-0.694386,0.425715,-0.823112,-0.395578,0.376714,0.662466,-0.204985,...,0.543979,1.349941,1.780052,1.286816,0.111954,0.571931,-0.599149,0.500515,-0.744876,0.148314
15,-1.060636,0.222973,-0.504311,0.490310,0.930971,0.382133,0.402710,0.642677,0.280571,-2.869437,...,0.271746,2.120470,0.517716,0.524862,-0.874708,-2.177155,-0.218275,-0.591952,-0.224167,-0.391411
16,-0.750916,0.579705,-0.398821,0.028791,-0.358866,0.996157,0.071746,0.575990,0.999604,0.413396,...,0.287250,-1.588095,0.232840,0.392163,0.631799,-1.280851,0.307105,-0.322889,-0.628672,0.687941
17,1.002219,-0.478156,-1.037879,2.138417,1.138875,-0.909846,-0.780724,-0.787962,0.367820,-0.438355,...,-0.255809,0.820270,-1.883222,2.152020,-0.327101,-1.507999,-0.285809,-0.900849,-0.064305,0.722296
18,-0.997230,-0.987500,0.377146,-0.515980,0.072222,1.057227,1.099985,2.124840,-1.702461,0.945163,...,1.700476,0.252370,-0.478415,-1.628425,-0.320266,-0.473976,0.827098,-0.202287,-0.275447,0.379573
19,-0.047711,-0.427755,0.575055,-0.901715,-0.183902,-0.282278,0.509689,-1.481712,-0.173341,-0.251936,...,-0.006166,-0.758194,1.843273,0.182547,-0.099165,-0.913870,0.716018,-1.209479,0.476264,0.099636
20,-0.127439,1.151438,-0.423882,-0.075297,-1.276124,-2.041465,0.129758,-1.011097,0.945655,-0.995217,...,0.237519,0.043593,1.379435,-3.023429,-1.247798,-1.536644,-1.423557,-0.967785,1.695534,-1.197853
21,1.593891,-0.341870,-1.443044,-1.884096,0.010491,-0.671415,1.706134,0.863628,-1.201124,-1.140678,...,-1.836794,-1.165672,0.385816,2.105738,1.363798,-0.402434,0.373702,-0.369633,0.535730,0.263135
22,-1.986417,0.596132,-1.544660,-0.984810,-0.598523,1.916084,-2.961958,0.262585,0.766739,-0.383890,...,1.178564,-0.156475,-0.840957,0.835881,0.417882,0.942164,0.072004,-0.667246,0.675094,0.840108
23,-0.295856,-0.185530,0.448667,0.834332,0.915990,1.533885,-0.704395,0.501382,-0.115104,1.808495,...,-0.550719,-1.433910,-0.783375,-2.516068,-2.110767,0.514446,-0.251266,0.230743,0.099437,-0.483569
24,1.370888,0.190182,-0.349950,1.867593,-0.903561,0.785535,0.594787,-0.329040,0.131785,0.636963,...,-0.047881,1.198137,0.619710,-0.010561,0.039184,0.019542,-0.958680,-0.277934,-0.097191,-0.347840
25,-0.375410,-1.082985,0.584664,-0.036044,0.095892,0.749148,-0.564376,0.517387,-0.146517,-0.524346,...,0.301401,0.660666,0.654778,0.968888,0.322907,-0.065917,1.481925,1.067410,-1.397824,-1.508070
26,0.775549,-2.253142,-0.414167,-0.142841,-1.008285,-0.386416,0.236055,1.262991,0.957848,0.396699,...,-0.303125,-0.829199,-0.691658,-0.903788,1.874626,-0.588774,-1.707971,-0.024675,1.392545,-0.631545
27,1.018996,0.439842,0.765864,-1.373908,-0.160906,0.096681,-0.632541,-2.175870,0.307699,-0.047191,...,-0.472573,-0.099438,-1.641867,-1.354042,1.207660,0.032298,-0.662461,-0.627727,-0.649288,0.332038
28,-0.901051,1.558753,0.179559,-0.067620,0.402640,-0.926332,-0.819275,0.114469,2.522354,-1.462118,...,1.099223,-0.556913,0.581817,-1.462322,-0.276649,-0.553291,0.143894,-0.400810,-0.392692,-0.150952
29,-0.966575,1.251508,-1.665683,0.635779,0.306576,-0.715274,0.135801,-0.453191,-0.529767,-0.712296,...,0.125541,0.576058,1.346845,-0.315453,-1.184781,0.808004,-0.998933,-0.429816,0.896859,-0.334150
30,-0.023307,-0.341059,-1.031499,1.028816,-1.438826,1.743550,-2.139925,-1.571914,-0.468896,-1.048454,...,-0.047312,1.517693,-0.052347,0.397826,1.094682,0.546392,-0.001089,0.461894,1.652299,0.768799
31,-0.483136,0.455777,-1.704332,0.500603,-0.512794,-1.564801,0.199448,-0.515985,0.683993,-0.349767,...,0.426897,-1.657425,-0.784769,1.549035,-0.124049,-1.097597,-2.107150,-0.962687,-1.456212,0.297646
32,0.916382,-0.446088,0.269678,-0.477299,-0.560475,0.532799,-0.010127,1.491604,1.334614,0.575039,...,1.284564,0.294522,0.315629,0.211885,-0.191992,1.379297,-0.787320,0.488649,-1.207319,-0.407073
33,1.577393,0.431903,1.257380,-0.205972,-0.526777,-1.284988,-0.657140,1.930959,-1.478141,0.155555,...,0.893234,0.277073,0.422677,-1.920308,0.195863,-0.533029,0.719767,-0.574362,-1.490102,-0.393737
34,-0.475299,0.739931,-0.121544,1.101634,-0.355586,1.251464,-0.679456,0.103007,0.408535,-0.315091,...,1.517949,-1.398316,0.771517,-0.436449,0.426013,-0.447683,1.741620,0.384716,0.013865,0.063171

In [52]:
df.head(50)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.261829,0.121397,-0.014858,-0.282273,-0.387976,1.329541,-0.169921,-0.202516,0.543947,1.281177,...,0.470570,-0.758573,2.290288,1.415689,1.091973,0.054957,0.814572,2.390118,-0.152601,0.172431
1,-0.308794,-0.754171,-0.419604,0.690812,-0.337735,-2.516283,0.499109,0.176806,-0.377385,-1.500410,...,0.878540,-0.589055,0.318158,-1.391960,0.161062,0.184824,0.275629,0.571954,0.453042,1.120595
2,0.898719,-0.824676,0.564283,1.655451,0.457569,0.894771,0.938429,1.133785,-0.175027,0.681855,...,0.141735,1.132097,0.444446,-2.838304,-0.897692,-0.616038,-0.324936,1.023338,-1.438685,-1.023833
3,2.247432,0.425762,0.744063,0.266772,0.871164,1.493923,0.288867,-1.974916,-0.561263,1.000828,...,-0.614136,-1.076356,-1.235663,-1.837076,-0.441467,0.301980,0.325555,1.454381,0.742454,-1.117714
4,-1.008836,1.630438,0.988493,0.031462,-1.924797,-0.619712,1.124244,0.464199,-1.129494,0.442151,...,-0.014184,-0.094851,-0.053786,1.376018,1.713751,-1.006765,-1.999673,-0.625164,0.562104,-0.220350
5,2.027563,-1.859488,0.014843,0.258889,-0.284966,-1.054313,-0.212180,1.373853,-0.059918,-1.310794,...,0.458072,0.494257,-3.439088,0.862821,-0.599703,0.979054,-1.655495,-0.501288,-0.192603,-0.923444
6,1.618330,-0.297658,-0.604796,1.218369,0.888606,-0.441145,0.431143,-1.358765,-0.332757,1.389370,...,1.203616,0.917611,0.466470,0.202199,0.184914,-1.115000,0.704142,0.025616,-0.737934,-2.243197
7,-1.046264,-1.509923,-1.040846,-0.929561,0.911480,0.023567,-0.717528,1.091563,0.947717,1.276613,...,1.336525,0.282676,-1.468958,1.493181,0.756018,-1.918589,-0.955301,0.305697,-0.230812,-0.092264
8,-1.972517,1.089338,-0.895711,-2.011351,0.651670,0.127580,0.586707,-0.786948,1.291776,1.553695,...,0.917339,-1.041461,1.185829,0.547997,0.841210,-0.795768,-0.018232,-0.290176,0.834634,0.056047
9,0.217345,-0.841484,0.185812,1.240447,1.393514,1.210765,0.159822,1.694887,1.132469,0.440795,...,0.846814,-0.213300,0.906146,0.242796,1.745867,-1.178244,-0.425407,0.161582,-2.038589,-0.567369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,-1.026963,0.725808,0.976683,1.090316,-0.504823,0.880873,0.118281,0.028094,0.072555,-0.381418,...,-0.125417,-0.076384,-0.966344,0.262873,-1.070149,0.231114,-0.321274,1.826508,0.702973,0.516015
41,-0.199715,-0.916269,-0.014821,-0.909643,-0.574129,-2.133920,1.390198,-0.307642,1.226961,-1.629273,...,-0.293564,1.099381,-0.492048,0.335165,1.691577,0.675269,-1.202349,-0.852479,0.070158,1.106400
42,-0.432615,-1.998757,0.659085,-0.420906,0.190837,-0.096875,-1.389980,0.268480,1.282405,-0.930872,...,-1.157074,-0.079008,1.957984,-0.712546,0.050345,-1.146447,-0.455717,-0.515307,1.036418,-0.473230
43,0.578401,0.101688,-0.729520,-1.198406,-0.760030,1.465275,0.335774,-1.444812,-0.397804,0.261197,...,0.814623,-1.242346,1.494704,-0.910192,-1.344214,0.695349,1.347773,0.540962,0.250784,-0.764302
44,-0.701396,-0.929698,1.575398,-1.403232,-1.097444,-0.791782,-0.923507,-1.977612,0.718792,-0.473438,...,1.890527,-0.815328,0.809996,1.815660,-1.257675,-0.612548,2.240573,1.222455,-0.907031,-0.525554
45,-0.565703,-0.447596,-0.417573,-0.867400,-1.057954,-0.614627,-1.535369,0.750459,0.445881,-0.848394,...,0.343085,-1.329335,1.650117,0.920241,-0.802655,0.683763,-0.649825,-1.267064,-0.304833,-1.796226
46,0.192599,0.258356,-1.088323,1.784650,0.650466,0.508697,0.052291,0.150009,0.069975,-0.191051,...,0.503158,-0.658326,0.098371,1.624875,1.048248,1.705868,-0.492639,-0.966945,0.564687,1.827421
47,0.598238,-0.590855,0.544548,0.975142,-0.225691,-0.699216,1.254788,1.746768,-1.258903,-1.312697,...,0.712451,-0.543920,-1.387627,-1.134038,2.744069,2.139733,2.173278,-1.228812,-0.570288,-2.347295
48,3.093843,-0.385718,0.144736,-1.807282,1.324044,-0.892077,-0.085258,1.343724,-0.563225,0.280567,...,-1.245162,0.096209,0.009082,-0.025322,0.845769,0.254193,-1.101898,-0.023446,0.225564,1.413661
49,-0.033585,0.255618,-0.612605,0.996438,-1.797286,0.111434,-0.172720,-0.564388,0.502948,1.553927,...,-1.059413,-0.541055,-0.210087,-1.084844,1.188160,0.828774,1.336766,0.499491,-0.409905,-0.234063

In [53]:
pd.reset_option("display.min_rows")
pd.reset_option("display.max_rows")

In [54]:
pd.set_option("display.max_columns", 50)

In [55]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,...,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999
0,0.261829,0.121397,-0.014858,-0.282273,-0.387976,1.329541,-0.169921,-0.202516,0.543947,1.281177,-0.546016,-0.122027,-0.467332,-0.497945,-0.159668,-0.056185,-0.893808,0.335514,0.732512,-0.777368,0.505753,-0.944902,-0.619353,-1.665318,-1.126767,...,-0.588812,1.077907,-1.323761,-0.208736,1.164045,-1.073415,-0.574819,0.099129,0.603605,1.374901,-1.405920,0.590107,1.911201,2.042154,0.682807,0.470570,-0.758573,2.290288,1.415689,1.091973,0.054957,0.814572,2.390118,-0.152601,0.172431
1,-0.308794,-0.754171,-0.419604,0.690812,-0.337735,-2.516283,0.499109,0.176806,-0.377385,-1.500410,-0.163698,1.031528,2.040530,-0.905681,-0.113651,-1.104211,0.387543,0.052370,-0.626517,-1.283203,-1.165195,0.583171,-0.028320,1.231361,1.233575,...,-0.897517,-1.617180,0.737640,-0.919255,-2.096390,0.333940,-1.145662,-0.151965,-0.438519,-1.090133,-2.120642,0.982882,0.401414,-0.888643,-0.897588,0.878540,-0.589055,0.318158,-1.391960,0.161062,0.184824,0.275629,0.571954,0.453042,1.120595
2,0.898719,-0.824676,0.564283,1.655451,0.457569,0.894771,0.938429,1.133785,-0.175027,0.681855,-1.170838,-0.943606,0.321735,-1.743699,-0.426282,1.353021,0.744904,-1.618845,0.065896,0.572784,-1.052993,-1.223873,-1.405403,-0.923604,0.824988,...,-1.239118,0.982922,-1.724640,-1.251419,0.048106,-1.120202,0.725396,-1.643342,-0.982839,1.312837,-0.628655,-0.249487,0.268958,-0.095811,-0.703495,0.141735,1.132097,0.444446,-2.838304,-0.897692,-0.616038,-0.324936,1.023338,-1.438685,-1.023833
3,2.247432,0.425762,0.744063,0.266772,0.871164,1.493923,0.288867,-1.974916,-0.561263,1.000828,0.110420,0.548912,0.885099,-1.224780,-1.272127,0.169401,0.355768,2.196229,-1.075578,-0.033734,-1.659730,1.428282,-1.793121,-0.993012,0.504313,...,-0.619611,1.410524,0.871030,-0.389676,-0.792147,1.427953,-1.402503,-1.488077,-0.757369,0.853265,1.351317,0.760542,-0.997093,0.544855,0.027362,-0.614136,-1.076356,-1.235663,-1.837076,-0.441467,0.301980,0.325555,1.454381,0.742454,-1.117714
4,-1.008836,1.630438,0.988493,0.031462,-1.924797,-0.619712,1.124244,0.464199,-1.129494,0.442151,-0.446796,0.766978,-0.111701,1.484944,-0.829494,-1.961839,-0.016274,1.223313,0.082987,0.115523,-2.626042,-1.428455,0.308122,0.109087,1.714474,...,-1.033650,1.609621,-0.633117,0.165782,-1.631838,-0.397938,-0.844748,1.599106,0.276934,0.896837,0.759289,-1.477982,1.792757,-0.720226,0.414759,-0.014184,-0.094851,-0.053786,1.376018,1.713751,-1.006765,-1.999673,-0.625164,0.562104,-0.220350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.514816,0.263791,0.125875,-0.421843,-1.433352,2.138567,-0.784736,0.414093,1.777455,1.756946,0.193046,0.930150,-0.935929,0.259103,-1.065890,0.481511,-1.332990,-0.294789,0.117133,1.332854,-0.116542,0.868398,0.191124,0.877537,1.375668,...,1.264790,0.430552,-0.575664,-1.189398,-0.586928,-1.022078,-0.207303,0.459368,-0.480473,-0.716547,1.381763,0.129774,0.696517,0.057669,-0.506426,-0.351796,-1.684557,-0.144202,-0.470774,0.532330,-1.051237,-0.864348,-0.369886,-0.173349,0.416309
996,0.176563,-0.144496,0.042382,0.422029,0.965583,-0.596335,-1.685576,-1.320588,-0.196948,0.848067,0.579855,-0.902338,0.323520,0.529900,-0.213866,-0.133049,0.703204,-0.576530,-1.582145,1.322112,0.889882,0.250287,-0.485349,1.229256,0.353592,...,-0.022621,0.719475,-0.877027,0.302697,-0.774686,0.027166,-0.720197,-1.272861,0.741717,0.016090,0.662717,0.139197,-0.539841,-0.711176,0.961514,-0.811620,2.039114,0.556067,-0.034373,0.303915,-0.646391,0.573129,-1.307210,-0.568296,1.325892
997,-0.829495,1.616258,0.587802,-0.198286,-0.985479,-0.675198,-0.409900,-0.680290,0.728815,-0.013731,0.735641,-0.711287,0.876972,0.412247,1.257120,0.797263,-0.281520,0.412156,0.005292,0.716086,0.490169,0.486841,-2.959948,0.172653,0.399272,...,1.252121,-0.699992,-0.150167,0.189157,0.266660,-0.334482,0.162769,-0.171278,0.186030,1.606386,0.527009,1.319724,0.283058,0.134868,-0.613985,-1.628866,-0.189867,0.151860,-1.569751,0.757614,-0.312296,0.873136,-1.541451,-0.751260,0.800699
998,0.345090,0.617853,1.387058,-1.004344,1.322831,-1.012614,-0.538390,-0.028872,-1.165726,0.736100,-0.072567,0.873168,0.235059,1.791044,-1.366879,-1.371787,0.194042,-0.260949,-0.326867,-1.217847,0.283498,0.216188,0.693324,-0.055968,0.139116,...,0.147536,0.309487,-0.031965,1.237250,0.951584,-0.372080,0.132141,0.904888,0.468160,0.454991,-0.172197,0.129059,-0.190339,-0.187554,1.158763,-0.660066,-0.822374,1.094291,1.910347,2.366852,-3.117041,0.504132,1.249089,0.625157,-0.956436
999,-1.827514,-1.823311,0.717790,0.425390,-0.128856,0.882887,-0.034786,1.721195,-0.343018,-0.276721,1.300729,-0.397348,0.006198,-0.096606,-0.327390,-0.270219,2.633129,-0.484163,-1.558861,-0.298553,-0.706119,-0.754959,-0.626784,-0.740515,-2.625980,...,1.414506,-1.049560,1.405417,-0.032613,2.227163,-1.629439,0.689112,-0.393783,0.417668,-1.573961,0.134479,-1.946140,-1.758227,-0.749522,0.911012,-0.054256,1.081065,-1.733163,0.500509,0.408742,-0.142642,-2.068976,0.856044,0.978350,1.330418

In [56]:
pd.reset_option("display.max_columns")

In [57]:
df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.261829,0.121397,-0.014858,-0.282273,-0.387976,1.329541,-0.169921,-0.202516,0.543947,1.281177,...,0.470570,-0.758573,2.290288,1.415689,1.091973,0.054957,0.814572,2.390118,-0.152601,0.172431
1,-0.308794,-0.754171,-0.419604,0.690812,-0.337735,-2.516283,0.499109,0.176806,-0.377385,-1.500410,...,0.878540,-0.589055,0.318158,-1.391960,0.161062,0.184824,0.275629,0.571954,0.453042,1.120595
2,0.898719,-0.824676,0.564283,1.655451,0.457569,0.894771,0.938429,1.133785,-0.175027,0.681855,...,0.141735,1.132097,0.444446,-2.838304,-0.897692,-0.616038,-0.324936,1.023338,-1.438685,-1.023833
3,2.247432,0.425762,0.744063,0.266772,0.871164,1.493923,0.288867,-1.974916,-0.561263,1.000828,...,-0.614136,-1.076356,-1.235663,-1.837076,-0.441467,0.301980,0.325555,1.454381,0.742454,-1.117714
4,-1.008836,1.630438,0.988493,0.031462,-1.924797,-0.619712,1.124244,0.464199,-1.129494,0.442151,...,-0.014184,-0.094851,-0.053786,1.376018,1.713751,-1.006765,-1.999673,-0.625164,0.562104,-0.220350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.514816,0.263791,0.125875,-0.421843,-1.433352,2.138567,-0.784736,0.414093,1.777455,1.756946,...,-0.351796,-1.684557,-0.144202,-0.470774,0.532330,-1.051237,-0.864348,-0.369886,-0.173349,0.416309
996,0.176563,-0.144496,0.042382,0.422029,0.965583,-0.596335,-1.685576,-1.320588,-0.196948,0.848067,...,-0.811620,2.039114,0.556067,-0.034373,0.303915,-0.646391,0.573129,-1.307210,-0.568296,1.325892
997,-0.829495,1.616258,0.587802,-0.198286,-0.985479,-0.675198,-0.409900,-0.680290,0.728815,-0.013731,...,-1.628866,-0.189867,0.151860,-1.569751,0.757614,-0.312296,0.873136,-1.541451,-0.751260,0.800699
998,0.345090,0.617853,1.387058,-1.004344,1.322831,-1.012614,-0.538390,-0.028872,-1.165726,0.736100,...,-0.660066,-0.822374,1.094291,1.910347,2.366852,-3.117041,0.504132,1.249089,0.625157,-0.956436
999,-1.827514,-1.823311,0.717790,0.425390,-0.128856,0.882887,-0.034786,1.721195,-0.343018,-0.276721,...,-0.054256,1.081065,-1.733163,0.500509,0.408742,-0.142642,-2.068976,0.856044,0.978350,1.330418

In [58]:
pd.set_option("display.precision", 2)

In [59]:
df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.26,0.12,-0.01,-0.28,-0.39,1.33,-0.17,-0.20,0.54,1.28,...,0.47,-0.76,2.29,1.42,1.09,0.05,0.81,2.39,-0.15,0.17
1,-0.31,-0.75,-0.42,0.69,-0.34,-2.52,0.50,0.18,-0.38,-1.50,...,0.88,-0.59,0.32,-1.39,0.16,0.18,0.28,0.57,0.45,1.12
2,0.90,-0.82,0.56,1.66,0.46,0.89,0.94,1.13,-0.18,0.68,...,0.14,1.13,0.44,-2.84,-0.90,-0.62,-0.32,1.02,-1.44,-1.02
3,2.25,0.43,0.74,0.27,0.87,1.49,0.29,-1.97,-0.56,1.00,...,-0.61,-1.08,-1.24,-1.84,-0.44,0.30,0.33,1.45,0.74,-1.12
4,-1.01,1.63,0.99,0.03,-1.92,-0.62,1.12,0.46,-1.13,0.44,...,-0.01,-0.09,-0.05,1.38,1.71,-1.01,-2.00,-0.63,0.56,-0.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.51,0.26,0.13,-0.42,-1.43,2.14,-0.78,0.41,1.78,1.76,...,-0.35,-1.68,-0.14,-0.47,0.53,-1.05,-0.86,-0.37,-0.17,0.42
996,0.18,-0.14,0.04,0.42,0.97,-0.60,-1.69,-1.32,-0.20,0.85,...,-0.81,2.04,0.56,-0.03,0.30,-0.65,0.57,-1.31,-0.57,1.33
997,-0.83,1.62,0.59,-0.20,-0.99,-0.68,-0.41,-0.68,0.73,-0.01,...,-1.63,-0.19,0.15,-1.57,0.76,-0.31,0.87,-1.54,-0.75,0.80
998,0.35,0.62,1.39,-1.00,1.32,-1.01,-0.54,-0.03,-1.17,0.74,...,-0.66,-0.82,1.09,1.91,2.37,-3.12,0.50,1.25,0.63,-0.96
999,-1.83,-1.82,0.72,0.43,-0.13,0.88,-0.03,1.72,-0.34,-0.28,...,-0.05,1.08,-1.73,0.50,0.41,-0.14,-2.07,0.86,0.98,1.33

In [60]:
pd.reset_option("display.precision")

In [61]:
df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.261829,0.121397,-0.014858,-0.282273,-0.387976,1.329541,-0.169921,-0.202516,0.543947,1.281177,...,0.470570,-0.758573,2.290288,1.415689,1.091973,0.054957,0.814572,2.390118,-0.152601,0.172431
1,-0.308794,-0.754171,-0.419604,0.690812,-0.337735,-2.516283,0.499109,0.176806,-0.377385,-1.500410,...,0.878540,-0.589055,0.318158,-1.391960,0.161062,0.184824,0.275629,0.571954,0.453042,1.120595
2,0.898719,-0.824676,0.564283,1.655451,0.457569,0.894771,0.938429,1.133785,-0.175027,0.681855,...,0.141735,1.132097,0.444446,-2.838304,-0.897692,-0.616038,-0.324936,1.023338,-1.438685,-1.023833
3,2.247432,0.425762,0.744063,0.266772,0.871164,1.493923,0.288867,-1.974916,-0.561263,1.000828,...,-0.614136,-1.076356,-1.235663,-1.837076,-0.441467,0.301980,0.325555,1.454381,0.742454,-1.117714
4,-1.008836,1.630438,0.988493,0.031462,-1.924797,-0.619712,1.124244,0.464199,-1.129494,0.442151,...,-0.014184,-0.094851,-0.053786,1.376018,1.713751,-1.006765,-1.999673,-0.625164,0.562104,-0.220350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.514816,0.263791,0.125875,-0.421843,-1.433352,2.138567,-0.784736,0.414093,1.777455,1.756946,...,-0.351796,-1.684557,-0.144202,-0.470774,0.532330,-1.051237,-0.864348,-0.369886,-0.173349,0.416309
996,0.176563,-0.144496,0.042382,0.422029,0.965583,-0.596335,-1.685576,-1.320588,-0.196948,0.848067,...,-0.811620,2.039114,0.556067,-0.034373,0.303915,-0.646391,0.573129,-1.307210,-0.568296,1.325892
997,-0.829495,1.616258,0.587802,-0.198286,-0.985479,-0.675198,-0.409900,-0.680290,0.728815,-0.013731,...,-1.628866,-0.189867,0.151860,-1.569751,0.757614,-0.312296,0.873136,-1.541451,-0.751260,0.800699
998,0.345090,0.617853,1.387058,-1.004344,1.322831,-1.012614,-0.538390,-0.028872,-1.165726,0.736100,...,-0.660066,-0.822374,1.094291,1.910347,2.366852,-3.117041,0.504132,1.249089,0.625157,-0.956436
999,-1.827514,-1.823311,0.717790,0.425390,-0.128856,0.882887,-0.034786,1.721195,-0.343018,-0.276721,...,-0.054256,1.081065,-1.733163,0.500509,0.408742,-0.142642,-2.068976,0.856044,0.978350,1.330418

You can adjust these settings based on your preferences and the size of your DataFrame.

### <a id='toc4_3_'></a>[Hiding or Showing Index and Column Labels](#toc0_)

By default, Pandas displays the index and column labels when printing a DataFrame. However, you can control whether to hide or show these labels using the `index` and `header` parameters.

- `to_string(index=False)`: Converts the DataFrame to a string representation without displaying the index labels.
- `to_string(header=False)`: Converts the DataFrame to a string representation without displaying the column labels.

In [66]:
df = pd.DataFrame(np.random.randn(5, 3), columns=["A", "B", "C"])

In [67]:
# Hiding the index labels
print(df.to_string(index=False))

        A         B         C
 0.032278 -3.423287  0.690023
-0.840686 -0.840453 -2.267161
-0.005326 -3.055083 -0.067423
-0.510304 -0.873858  0.783559
 0.439304 -0.451477 -0.037860

In [69]:
# Hiding the column labels
print(df.to_string(header=False, index=False))

 0.032278 -3.423287  0.690023
-0.840686 -0.840453 -2.267161
-0.005326 -3.055083 -0.067423
-0.510304 -0.873858  0.783559
 0.439304 -0.451477 -0.037860

These options can be useful when you want to focus solely on the data values or when you have a large DataFrame and want to conserve space in the console output.

By leveraging these console display options and methods, you can customize how your DataFrames are displayed in the console, making it easier to inspect and analyze your data effectively.

For more information on Pandas console display options and methods, refer to the [official Pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.set_option.html).

## <a id='toc5_'></a>[Conclusion](#toc0_)

In this lecture, we explored the fundamental concepts and techniques for working with Pandas DataFrames. DataFrames are powerful data structures that provide a convenient way to store, manipulate, and analyze structured data in a tabular format.

We covered various methods to create DataFrames from different data sources, such as dictionaries, lists, NumPy arrays, and more. We also discussed the essential attributes and methods of DataFrames, including accessing and modifying data, retrieving information about the DataFrame, and performing statistical summaries.

We dived into the data alignment and arithmetic operations supported by DataFrames, which allow for efficient computation and transformation of data. We explored arithmetic operations between DataFrames, between DataFrames and Series, and discussed flexible arithmetic methods and broadcasting behavior.

Lastly, we examined the console display options and methods provided by Pandas, which enable us to customize how DataFrames are displayed in the console. We learned how to control the display settings, display subsets of rows and columns, and hide or show index and column labels.

Throughout this lecture, we provided code examples and explanations to illustrate the concepts and techniques. By mastering these fundamentals of Pandas DataFrames, you can effectively handle and analyze structured data in your data science and machine learning projects.

To further enhance your understanding of Pandas DataFrames and explore more advanced topics, you can refer to the following resources:

- [Pandas Documentation - DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html): The official Pandas documentation provides a comprehensive reference guide for DataFrame methods, attributes, and options.

- [Pandas Tutorials](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html): The Pandas website offers a collection of tutorials that cover various aspects of working with DataFrames, including data manipulation, analysis, and visualization.

- [Python for Data Analysis](https://wesmckinney.com/book/): This book by Wes McKinney, the creator of Pandas, provides an in-depth guide to data analysis using Pandas and other Python libraries.

- [Pandas Cookbook](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html): The Pandas Cookbook contains a collection of practical recipes and examples for solving common data analysis tasks using Pandas DataFrames.

By exploring these resources and practicing the concepts covered in this lecture, you can deepen your understanding of Pandas DataFrames and become proficient in data manipulation and analysis using Python.

Remember, the key to mastering Pandas DataFrames is through hands-on experience and applying the techniques to real-world datasets. Don't hesitate to experiment, explore, and seek help from the vibrant Pandas community when needed.